<launch>

  <param name="/use_sim_time" value="false"/> 

  <rosparam file="$(find avt_341)/config/waypoints.yaml" />

  <!-- Lidar perception algorithms  -->
  <node name="perception_node" pkg="avt_341" type="avt_341_perception_node" required="true" output="screen">
    <param name="use_elevation" value="false" />
    <param name="slope_threshold" value="1.0" />
    <param name="grid_size" value="100.0" />
    <param name="grid_res" value="0.4" />
  </node>

  <node name="vehicle_control_node" pkg="avt_341" type="avt_341_control_node" required="true" output="screen" >
    <param name="vehicle_wheelbase" value="2.0" />
    <param name="vehicle_max_steer_angle_degrees" value="30.0" />
    <param name="steering_coefficient" value="2.5" />
    <param name="vehicle_speed" value="5.0" />
  </node>

  <node name="global_path_node" pkg="avt_341" type="avt_341_global_path_node" required="true" output="screen" />

  <node name="local_planner_node" pkg="avt_341" type="avt_341_local_planner_node" output="screen" required="true" >
    <param name="path_look_ahead" value="40.0" /> 
    <param name="vehicle_width" value="3.0" />
    <param name="num_paths" value="41" />
    <param name="max_steer_angle" value="0.5" />
    <param name="output_path_step" value="0.5" />
    <param name="path_integration_step" value="0.35" />
    <param name="dilation_factor" value="2" />
    <param name="w_c" value="0.3" />
    <param name="w_s" value="0.5" />
    <param name="w_d" value="0.0" />
    <param name="w_r" value="0.2" /> 
    <param name="rate" value="10.0" />
    <param name="trim_path" value="false" />
  </node>

  <node name="sim_test_node" pkg="avt_341" type="avt_341_sim_test_node" required="true" output="screen" />

</launch>