<launch>


<node pkg="rosbag" type="play" name="player" output="screen" args="--clock /home/cgoodin/Desktop/bag_files/marc_daniel_avt_hill_test_3ms_2022-01-19-13-44-56.bag" required="true"/>


  <rosparam file="$(find nature)/config/gps_waypoints_hilltop.yaml" />

  <!-- Lidar perception algorithms  -->
  <node name="nature_gps_to_enu_node" pkg="nature" type="nature_gps_to_enu_node" required="true" output="screen">

  </node>


</launch>