<launch>

  <arg name="use_mpc" default="false" doc="Local planner - Use MPC local planner instead of road centerline constrained splines."/>

  <include file="$(find nature)/launch/msu_base_sim.launch">
    <arg name="waypoints_file" value="$(find nature)/config/waypoints.yaml" />
    <arg name="robot_description_file" value="$(find nature)/config/example_bot.urdf" />
    <arg name="cost_vis" value="final" />
    <arg name="use_mpc" value="$(arg use_mpc)" />
<!--     <arg name="grid_dilate" value="true" /> -->
<!--     <arg name="grid_dilate_x" value="3.0" /> -->
<!--     <arg name="grid_dilate_y" value="1.0" /> -->
<!--     <arg name="dilation_factor" value="0" /> -->
<!--     <arg name="auto_launch_rviz" value="false" /> -->
  </include>

<node name="nature_gps_spoof_node" pkg="nature" type="nature_gps_spoof_node" required="true" output="screen">

  </node>

  <!-- Use this node to test the build if no simulator is being used. 
  <node name="sim_test_node" pkg="nature" type="nature_sim_test_node" required="true" output="screen" />
-->
  <include file="$(find mavs_ros)/launch/mavs_sim.launch">
    <arg name="cmd_vel_topic_arg" default="nature/cmd_vel" />
    <arg name="point_cloud_topic_arg" default="nature/points" />
    <arg name="odometry_topic_arg" default="nature/odometry" />
  </include>
</launch>